.font-text{
  font-family: SF Pro Text, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #CECFD0;
}

.button-search {
  font-family: SF Pro Text, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  width: 137px;
  height: 46px;
  background: #6158B8;
  border-radius: 8px;
}